<nav class="navbar fixed-bottom bg-primary bg-body-tertiary" data-bs-theme="dark">
    <a class="btn btn-primary ms-3" href="#">Check list of items</a> <!-- Use 'btn' and 'btn-primary' for a filled button -->
    <div class="ms-auto d-flex align-items-center"> <!-- Use 'ms-auto', 'd-flex', and 'align-items-center' -->
        <button class="btn btn-success me-3">Register sale</button>
        <span class="navbar-brand mb-0 h1">Total $ <%= current_user.current_purchase.total_price %> </span>
    </div>
</nav>
